.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 104px;
}

.navigation__logo {
  color: white;
  font-weight: 700;
  font-size: 20px;
}

.navigation__links {
  display: flex;
  align-items: center;
  gap: 32px;
}

.navigation__link {
  color: white;
}

.navigation__button {
  color: white;
  background: transparent;
  border: 1px solid white;
  border-radius: 100px;
  padding: 12px 24px;
}

@media screen and (max-width: 768px) {
  .navigation {
    padding: 20px 40px;
  }

  .navigation__links {
    gap: 16px;
  }
}

@media screen and (max-width: 480px) {
  .navigation {
    padding: 16px;
  }

  .navigation__links {
    display: none;
  }

  .navigation__menu {
    display: block;
    background: none;
    border: none;
    color: white;
    font-size: 28px;
  }
}
