.header {
  width: 100%;
  min-height: 576px;
  color: #fff;
  background: url("../../images/background.svg") center / cover no-repeat;
}

.header__overlay {
  min-height: inherit;
  background: rgba(26, 27, 34, 0.5);
}

.header__content {
  max-width: 608px;
  margin: 80px auto 0;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
}

.header__title {
  margin: 0;
  font-family: "Roboto Slab", serif;
  font-size: 60px;
  font-weight: 400;
  line-height: 64px;
}

.header__subtitle {
  max-width: 545px;
  margin-top: 32px;
  font-size: 18px;
  line-height: 24px;
}

@media screen and (max-width: 768px) {
  .header {
    min-height: 400px;
  }

  .header__content {
    max-width: 452px;
    margin: 40px auto 0;
  }

  .header__title {
    font-size: 36px;
    line-height: 40px;
  }
}

@media screen and (max-width: 480px) {
  .header {
    min-height: 536px;
  }

  .header__content {
    margin-top: 30px;
    padding: 16px;
  }

  .header__subtitle {
    margin-top: 16px;
  }
}
