.footer {
  padding: 32px 104px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 24px 40px;
  }
}

@media screen and (max-width: 480px) {
  .footer {
    flex-direction: column;
    gap: 20px;
    padding: 20px 16px;
  }
}
