.results {
  padding: 80px 104px;
  background: #f5f6f7;
}

.results__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 16px;
}

@media screen and (max-width: 768px) {
  .results {
    padding: 40px;
  }

  .results__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .results {
    padding: 16px;
  }

  .results__grid {
    grid-template-columns: 1fr;
  }
}
